:root {
  --lightlightblue: #eff8fd;
  --darkblue: #305b73;
  --main-color-fv: #61b5e5;
  --off-white-fv: #fdfdfd;
  --normalfont: Montserrat, sans-serif;
  --big-heading: "Open Sans", sans-serif;
  --3daccent: #c2296e;
  --darkdarkblue: #13242e;
  --_nice-blue---nice-blue-light-opacity: #2245c224;
  --darkhibiscus: #741942;
  --_nice-blue---nice-blue-full-opacity: #2245c2;
  --nice-blue-filter: var(--_nice-blue---nice-blue-light-opacity);
  --secondary-color-fv: #9c99ff;
  --accent-fv: #6e36b2;
  --dark-fv: #19174d;
  --2ndaccent-fv: #ffe96b;
  --lightblue1: #dff0fa;
  --lightbluedark: #cfe9f8;
  --lightgray: #97979712;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  align-items: stretch;
  
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 36px;
}

p {
  max-width: 60ch;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.3;
}

a {
  text-decoration: underline;
}

li {
  max-width: 65ch;
  margin-top: 15px;
  margin-bottom: 0;
}

img {
  display: inline-block;
}

.card {
  background-color: var(--lightlightblue);
  color: #4d4d4d;
  max-width: 350px;
  padding: 25px 25px 0;
  text-decoration: none;
  transition: margin-top .3s, margin-left .3s, transform .3s, background-color .3s, box-shadow .3s;
}

.card:hover {
  background-color: var(--lightlightblue);
  transform: translate(-2px, -5px);
  box-shadow: -4px 4px 8px #13242e2b;
}

.card.w--current {
  padding: 25px;
  transition: transform .25s, box-shadow .25s, background-color .25s;
}

.card.w--current:hover {
  background-color: #fff4f4;
  transform: translate(-2px, -5px);
  box-shadow: -4px 4px 8px #0003;
}

.card.pubcard-cc {
  background-color: var(--lightlightblue);
  max-width: 350px;
  padding: 0;
}

.card.pubcard-cc:hover {
  box-shadow: -4px 4px 8px #13242e2b;
}

.nav-link {
  color: #000;
  letter-spacing: normal;
  text-transform: capitalize;
  word-break: normal;
  vertical-align: top;
  background-color: #d5d5d500;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  transition: text-shadow .2s, background-color .2s, color .2s;
  display: inline-block;
}

.nav-link:hover {
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--darkblue);
  text-shadow: 2px 2px 9px #2245c233;
}

.nav-link:active {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
}

.nav-link.w--current {
  color: var(--main-color-fv);
}

.nav-link.w--current:hover {
  text-shadow: none;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.body-fv {
  background-color: var(--off-white-fv);
  font-family: var(--normalfont);
  font-size: 1rem;
  line-height: 1.3;
}

.navbar-2 {
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #5f8cff;
  justify-content: center;
  align-items: center;
  height: 11vh;
  display: flex;
}

.container-9 {
  width: 90%;
  min-width: 900px;
  max-width: 70rem;
}

.hero-section {
  opacity: 1;
  color: #000;
  -webkit-text-fill-color: inherit;
  background-color: #0000;
  background-image: url('../images/herov1-2_low.jpg');
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  border-radius: 0 0% 0%;
  height: 76vh;
}

.landing-hero-container {
  border-top: 3px #fff;
  border-bottom: 1px #fff;
  border-right: 1px #fff;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 70%;
  border-bottom-left-radius: 0%;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 70rem;
  height: 100%;
  padding-left: 0;
  padding-right: 30px;
  display: flex;
  position: relative;
  top: -3px;
}

.landing-hero-container.test-cc {
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none;
}

.main-heading {
  z-index: 100;
  font-family: var(--big-heading);
  color: #000;
  width: 100%;
  margin-bottom: 35px;
  font-size: 4.8rem;
  line-height: 1.24;
}

.paragraph-6 {
  max-width: 60ch;
}

.mission-section {
  margin-top: 0;
  padding-top: 8vh;
}

.text-span {
  background-image: linear-gradient(139deg, var(--3daccent) 23%, #e5a5c2 71%);
  font-family: var(--big-heading);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
}

.paragraph-8 {
  text-align: left;
  margin-bottom: 0;
}

.team-section {
  border-top: 1px #000;
  margin-top: 76px;
}

.grid-3 {
  grid-row-gap: 135px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  place-items: center;
  margin-top: 135px;
  margin-bottom: 60px;
}

.grid-4 {
  grid-column-gap: 20px;
  grid-row-gap: 60px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-top: 60px;
}

.grid-4.matgrid-cc {
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.heading-6 {
  font-family: var(--big-heading);
  color: var(--darkdarkblue);
  text-transform: capitalize;
  margin-bottom: 60px;
}

.slide-3 {
  background-image: url('../images/ChatGPT-Image-11-déc.-2025-11_46_11.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.slider-2 {
  height: 50vh;
  margin-top: 90px;
  display: none;
}

.image-5 {
  border: 1px solid var(--_nice-blue---nice-blue-light-opacity);
  object-fit: cover;
  object-position: 45% 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  top: -100px;
}

.image-5.imgpub-cc {
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 0%;
  width: 100%;
  height: 200px;
  position: static;
}

.profile-picture-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-7 {
  color: var(--darkdarkblue);
  position: relative;
  top: -95px;
}

.heading-7.hdg3pub-cc {
  color: var(--darkdarkblue);
  text-overflow: ellipsis;
  font-size: 1.1rem;
  line-height: 1.4;
  position: static;
}

.paragraph-9 {
  margin-bottom: 0;
  position: relative;
  top: -70px;
}

.paragraph-9.parapub-cc {
  text-align: left;
  position: static;
}

.section-8 {
  background-color: var(--main-color-fv);
  color: #fff;
  border-top: 3px #5f8cff;
  height: 20vh;
  margin-top: 60px;
}

.text-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container-11 {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.section-10 {
  color: #fff;
  background-image: linear-gradient(#2245c2b8, #2245c2b8), url('../images/ChatGPT-Image-12-déc.-2025-15_53_32.png');
  background-position: 0 0, 50% 0;
  background-size: auto, cover;
  height: 30vh;
}

.section-10._5-cc {
  background-image: url('../images/notland_hero_30vh.jpg');
  background-position: 50%;
  background-size: auto;
}

.tabs-menu-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--lightlightblue);
  border-radius: 4px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
}

.tab-link {
  color: #000;
  letter-spacing: 1.1px;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: .5em 2em;
  font-weight: 500;
  transition: color .2s, background-color .2s;
}

.tab-link:hover {
  background-color: var(--darkblue);
  color: #fff;
}

.tab-link.w--current {
  background-color: var(--main-color-fv);
  color: #000;
  margin-top: 20px;
  transition-property: none;
}

.tab-link.w--current:hover {
  box-shadow: none;
}

.section-11 {
  padding-top: 8vh;
}

.div-block-6 {
  flex-flow: column;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}

.text-block-3 {
  letter-spacing: 1px;
}

.image-6 {
  height: 60px;
}

.tabs-content-2 {
  padding-left: 0;
  padding-right: 0;
}

.slide-4 {
  background-image: url('../images/ChatGPT-Image-14-déc.-2025-23_07_40.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.go-to-button {
  background-color: var(--3daccent);
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.2rem;
  font-weight: 400;
  transition: background-color .3s;
}

.go-to-button:hover {
  background-color: var(--darkhibiscus);
}

.slide-nav {
  text-overflow: clip;
}

.progress-bar {
  z-index: 1000;
  transform-origin: 0%;
  background-color: #000;
  width: 100%;
  height: 5px;
  position: fixed;
  inset: 0% auto auto 0%;
}

.section-13 {
  min-height: 50vh;
  padding-top: 8vh;
}

.tab-pane-events {
  border-left: 3px solid var(--main-color-fv);
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 0;
  padding-bottom: 2px;
}

.tabs-content-3 {
  padding-top: 60px;
}

.heading-10 {
  background-image: linear-gradient(to bottom, var(--main-color-fv), var(--main-color-fv));
  perspective-origin: 0%;
  transform-origin: 0%;
  color: #fff;
  border-radius: 0 4px 4px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: .25em .5em .25em 1em;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  top: 1em;
}

.heading-11 {
  color: #000;
  margin-top: 8px;
  margin-bottom: 0;
  padding-left: 10px;
}

.paragraph-10 {
  height: 100%;
  margin-top: 0;
  padding-left: 10px;
  overflow: hidden;
}

.text-span-2 {
  color: #fff;
  font-weight: 700;
}

.text-span-2.text-cta-cc {
  color: var(--3daccent);
}

.section-15 {
  padding-top: 8vh;
}

.heading-12 {
  font-size: 1rem;
}

.button-2 {
  background-color: var(--_nice-blue---nice-blue-full-opacity);
  text-align: center;
  align-self: center;
  width: 100%;
  max-width: 300px;
  margin-top: 36px;
  padding-top: .75rem;
  padding-bottom: .75em;
  font-size: 1.2rem;
  transition: background-color .3s;
}

.button-2:hover {
  background-color: #000;
}

.div-block-8 {
  background-color: var(--darkdarkblue);
  color: #fff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.grid-5 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: var(--lightlightblue);
  border-radius: 4px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
  margin-left: 25px;
  padding: 20px 20px 40px;
}

.gallery-container {
  width: 90%;
  max-width: 90rem;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.heavy-text-container {
  width: 90%;
  max-width: 70rem;
}

.grid-6 {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: 1.25fr 1.25fr;
  margin-bottom: 60px;
}

.list-2 {
  text-align: left;
  margin-bottom: 0;
}

.heading-17 {
  border-left: 3px solid var(--3daccent);
  font-family: var(--normalfont);
  color: var(--darkdarkblue);
  margin-top: 0;
  padding-left: 10px;
}

.heading-18 {
  font-family: var(--big-heading);
  color: var(--darkdarkblue);
  margin-bottom: 60px;
}

.grid-7 {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.div-block-11 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.image-10 {
  width: 70px;
  height: 55px;
}

.image-10.pub-icon-cc {
  width: 60px;
  height: 55px;
}

.image-10.event-icon-cc {
  width: 55px;
  height: 55px;
}

.paragraph-11 {
  text-align: left;
  margin-top: 40px;
  padding-left: 0;
  padding-right: 20px;
}

.paragraph-12 {
  font-family: var(--normalfont);
  display: none;
}

.div-block-12 {
  background-image: url('../images/Gemini_Generated_Image_pyejbapyejbapyej.png');
  background-position: 50% 100%;
  background-size: cover;
  height: 100%;
  min-height: 50vh;
}

.div-block-13 {
  background-image: url('../images/Gemini_Generated_Image_ef3k6eef3k6eef3k.png');
  background-size: cover;
  height: 100%;
  min-height: 50vh;
}

.div-block-14 {
  align-self: auto;
  display: flex;
}

.heading-19 {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.div-block-15 {
  z-index: -1;
  border: 3px solid var(--3daccent);
  width: 100%;
  height: 100%;
  position: relative;
  top: -20px;
  left: 20px;
}

.div-block-15.div-cc {
  top: -20px;
  left: -20px;
}

.background-video {
  z-index: 2;
  position: absolute;
}

.text-block-4 {
  position: relative;
  top: -100px;
}

@media screen and (min-width: 1440px) {
  .card.pubcard-cc:hover {
    box-shadow: -4px 4px 8px #13242e2b;
  }

  .nav-link:hover {
    color: var(--darkblue);
  }

  .nav-link.w--current {
    color: var(--main-color-fv);
  }

  .body-fv {
    background-color: var(--off-white-fv);
  }

  .navbar-2 {
    border-bottom-color: var(--main-color-fv);
    background-color: var(--off-white-fv);
  }

  .landing-hero-container.pubcont-cc {
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
  }

  .grid-3, .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-4.matgrid-cc {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
  }

  .heading-7 {
    color: var(--darkdarkblue);
  }

  .section-8 {
    background-color: var(--main-color-fv);
    height: 20vh;
  }

  .text-block {
    color: #fff;
  }

  .tab-link {
    color: #000;
    background-color: #fff;
    border-radius: 2px;
    padding-top: .5em;
    padding-bottom: .5em;
    transition: background-color .2s, color .2s;
  }

  .tab-link:hover {
    background-color: var(--darkblue);
    box-shadow: none;
    color: #fff;
  }

  .tab-link.w--current {
    background-color: var(--main-color-fv);
  }

  .tab-link.w--current:hover {
    color: #000;
  }

  .go-to-button {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .heading-11 {
    color: #000;
  }

  .grid-6 {
    margin-bottom: 40px;
  }

  .heading-18 {
    padding-bottom: 10px;
  }

  .grid-7 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div-block-11 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .paragraph-11 {
    text-align: justify;
  }
}

@media screen and (max-width: 991px) {
  .container-9 {
    min-width: 700px;
  }

  .hero-section {
    background-image: url('../images/landing_hero_fv.jpg');
    background-position: 50%;
  }

  .team-section {
    border-top-style: none;
  }

  .grid-3 {
    grid-row-gap: 135px;
    grid-template-columns: 1fr 1fr;
  }

  .grid-4 {
    grid-row-gap: 86px;
    grid-template-columns: 1fr 1fr;
  }

  .nav-menu, .menu-button.w--open {
    background-color: #f3eeee;
  }

  .div-block-8 {
    background-color: #000;
  }

  .grid-5 {
    grid-template-rows: auto auto auto;
  }

  .grid-6 {
    grid-column-gap: 4vw;
  }

  .paragraph-11 {
    text-align: justify;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding-left: 23px;
    padding-right: 23px;
  }

  .container-9 {
    width: 90%;
    min-width: 450px;
  }

  .hero-section {
    background-image: url('../images/landing_hero_fv.jpg');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 76vh;
  }

  .landing-hero-container {
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-heading {
    margin-top: 40px;
    font-size: 3.5rem;
  }

  .paragraph-6 {
    padding-bottom: 40px;
  }

  .mission-section {
    height: auto;
    min-height: 100vh;
  }

  .list-item {
    max-width: 60ch;
  }

  .grid-3 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-4 {
    grid-column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-6 {
    font-size: 2.6rem;
  }

  .tabs-menu-2 {
    flex-flow: wrap;
    align-items: center;
  }

  .tab-link {
    margin-bottom: 25px;
  }

  .tab-pane-events {
    margin-left: 0;
  }

  .gallery-container {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-6 {
    grid-template-columns: 1.25fr;
    justify-content: start;
  }

  .grid-7 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .div-block-11 {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .paragraph-11 {
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-12, .div-block-13 {
    display: none;
  }

  .div-block-14 {
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 479px) {
  .card {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .card.pubcard-cc {
    margin-left: auto;
    margin-right: auto;
  }

  .container-9 {
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    display: flex;
  }

  .hero-section {
    min-height: 0;
  }

  .landing-hero-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-heading {
    text-align: left;
    font-size: 2.7rem;
  }

  .paragraph-6 {
    text-align: left;
  }

  .grid-4 {
    grid-template-columns: 1fr;
    max-width: 400px;
  }

  .heading-6 {
    font-size: 2.2rem;
  }

  .text-block {
    text-align: center;
  }

  .left-arrow, .right-arrow {
    display: none;
  }

  .menu-button {
    margin-left: auto;
  }

  .image-6 {
    height: 45px;
  }

  .brand-2 {
    padding-left: 0;
  }

  .tab-pane-events {
    margin-right: 0;
  }

  .div-block-8 {
    padding-right: 10px;
  }

  .grid-5 {
    margin-left: 10px;
  }

  .list-item-2 {
    overflow-wrap: break-word;
  }

  .list {
    width: 100%;
  }

  .list-item-3 {
    white-space: normal;
    overflow-wrap: break-word;
  }

  .gallery-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .heavy-text-container {
    width: 90%;
    max-width: 70rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-14 {
    justify-content: center;
    align-items: center;
  }
}

#w-node-_7e81bce2-33c3-78cb-8730-8e719823dba5-f0f1eb9c, #w-node-de5a73a4-7e06-2101-e8fa-aee407372d0e-f0f1eb9c, #w-node-e4030a88-344a-ab09-6595-201460cb4bfc-f0f1eb9c, #w-node-_1f181d3f-68ab-ce94-9e25-8fe3b47ff9dc-f0f1eb9c, #w-node-_005bc607-84c0-96e6-5b84-ed4f6423208b-f0f1eb9c, #w-node-_8327f0cd-1bcc-710b-c0d0-c67b0b6d1155-f0f1eb9c, #w-node-_4a380a78-e05b-343e-1534-e70ee3c54738-f0f1eb9c, #w-node-_7081e1f6-1bb8-d461-4f8e-ec58a9eb59a1-f0f1eb9c, #w-node-_5eb26b4c-665d-7662-7dee-a647021b8d18-f0f1eb9c, #w-node-_5d026f73-9af9-9431-28e5-985a542ad6ef-f0f1eb9c, #w-node-_27bcceaf-577c-77cf-2940-3ed757a732a1-f0f1eb9c {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_0766b5c0-219d-e6c1-80dc-e8527051e93b-f0f1eb9e {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-c0023369-cbb2-dfa5-9bf8-632ad2883ab6-f0f1eb9e {
  align-self: center;
}

#w-node-_27a0cb54-872b-228d-1717-a0915395f97b-f0f1eb9e {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_7e81bce2-33c3-78cb-8730-8e719823dba7-f0f1eb9c, #w-node-_7e81bce2-33c3-78cb-8730-8e719823dba9-f0f1eb9c, #w-node-de5a73a4-7e06-2101-e8fa-aee407372d11-f0f1eb9c, #w-node-a14664ee-df82-0d0d-288d-96724c290dcb-f0f1eb9c, #w-node-e4030a88-344a-ab09-6595-201460cb4bfe-f0f1eb9c, #w-node-e4030a88-344a-ab09-6595-201460cb4c00-f0f1eb9c, #w-node-_1f181d3f-68ab-ce94-9e25-8fe3b47ff9de-f0f1eb9c, #w-node-_1f181d3f-68ab-ce94-9e25-8fe3b47ff9e0-f0f1eb9c, #w-node-_005bc607-84c0-96e6-5b84-ed4f6423208d-f0f1eb9c, #w-node-_005bc607-84c0-96e6-5b84-ed4f6423208f-f0f1eb9c, #w-node-_8327f0cd-1bcc-710b-c0d0-c67b0b6d1157-f0f1eb9c, #w-node-_8327f0cd-1bcc-710b-c0d0-c67b0b6d1159-f0f1eb9c, #w-node-_4a380a78-e05b-343e-1534-e70ee3c5473a-f0f1eb9c, #w-node-_4a380a78-e05b-343e-1534-e70ee3c5473c-f0f1eb9c, #w-node-_7081e1f6-1bb8-d461-4f8e-ec58a9eb59a3-f0f1eb9c, #w-node-_7081e1f6-1bb8-d461-4f8e-ec58a9eb59a5-f0f1eb9c, #w-node-_5eb26b4c-665d-7662-7dee-a647021b8d1a-f0f1eb9c, #w-node-_5eb26b4c-665d-7662-7dee-a647021b8d1c-f0f1eb9c, #w-node-_5d026f73-9af9-9431-28e5-985a542ad6f1-f0f1eb9c, #w-node-_5d026f73-9af9-9431-28e5-985a542ad6f3-f0f1eb9c, #w-node-_27bcceaf-577c-77cf-2940-3ed757a732a3-f0f1eb9c, #w-node-_27bcceaf-577c-77cf-2940-3ed757a732a5-f0f1eb9c {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_0766b5c0-219d-e6c1-80dc-e8527051e93b-f0f1eb9e, #w-node-_27a0cb54-872b-228d-1717-a0915395f97b-f0f1eb9e {
    grid-column: span 1 / span 1;
  }
}


